html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(71, 71, 71);
}

section {
    display: flex;
    
}

img {
    padding: 10px;
    border-radius: 50%;
    
}

a {
    color: #c45259;
}

article1 { 
    position: fixed;
    color: rgb(71, 71, 71);
    padding: 10px;
    width: 40%;
    background-color: #ffbec0;
    padding-left: 20px;
    padding-bottom: 150px;
}

article2 {
    position: relative;
    left: 500px;
    padding: 30px;
    width: 60%;
    background-color: #ffe9e4;
}

#menu {
    position: absolute;
    left: 330px;
    top: 40px;
    
}

#education {
    margin: 10px;
    padding-bottom: 30px;
}

#experience {
    margin: 10px;
    padding-bottom: 30px;
}

#skills {
    margin: 10px;
    padding-bottom: 20px;
}

h1 {
    font-size: xx-large;
    padding-left: 20px;
    padding-top: 10px;
}



#details {
    padding-left: 20px;
    text-align: left;
}

li {
    margin-bottom: 15px;
    list-style-type: none;
    
}
